* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  direction: rtl;
}

body {
  margin: 0;
  font-family: "cairo", 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background: #F8F8F8;
  color: #363873;
}



img {
  max-width: 100%
}

a:hover,
a:focus,
a:focus-visible {
  background: #4b4d9a !important;
  outline: none !important;
  border: none !important;
}

.btn:hover,
.btn:active,
.btn:focus-visible {
  border-color: transparent;
  outline: transparent;
  box-shadow: 0 0 0 transparent;
}

p {
  margin: 0
}

/* header::after {
  content: "";
  position: absolute;
  background: #000;
  display: block;
  width: 100%;
  height: 5rem;
  bottom: -5rem;
  left: 0;
  background: linear-gradient(to bottom, #f8f8f8, transparent);
} */

.heading {
  font-weight: bold;
}

.cl-prime {
  color: #363873 !important;
}

.bg-prime {
  background-color: #363873 !important;
}

form {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding-top: 3rem;
}

form>div {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 16rem;
}

form button {
  width: 3.4rem;
  margin: auto;
  border-radius: "3rem" !important;
  -webkit-border-radius: "3rem" !important;
  -moz-border-radius: "3rem" !important;
  -ms-border-radius: "3rem" !important;
  -o-border-radius: "3rem" !important;
}

input,
input:focus,
input:active {
  border: 2px solid #363873;
  outline: none;
}

input[type='text'],
input[type='text']:focus,
input[type='text']:active {
  width: 16rem;
  border: 2px solid #363873;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


form .list-group-item {
  border: 2px solid #363873;
  border-radius: 3rem !important;
  -webkit-border-radius: 3rem !important;
  -moz-border-radius: 3rem !important;
  -ms-border-radius: 3rem !important;
  -o-border-radius: 3rem !important;
  padding: 0;
}

form .list-group-item+.list-group-item {
  border-top: 2px solid #363873;
}

form .list-group-item.active {
  background-color: #363873;
  border-color: #363873;
}

form .list-group-item label {
  padding: 0.5rem 1rem;
}

.progress {
  height: 0.5rem;
}

.userPicContainer {
  min-width: 8rem;
  width: 70%;
  max-width: 15rem;
  margin: 1rem auto;
  position: relative;
  overflow-x: hidden;
}


.userPicContainer::before {}


/* horizontal */
.userPicContainer::before {
  content: "";
  position: absolute;
  background-color: aqua;
  top: -10%;
  left: -1%;
  height: 3px;
  width: 102%;
  animation: imageScanHorizontalAnimation 2.5s linear 5;
  -webkit-animation: imageScanHorizontalAnimation 2.5s linear 5;
  box-shadow: 0 0 8px 5px cyan;
}



.submitFormBtn,
.submitFormBtn:hover,
.submitFormBtn:focus,
.submitFormBtn:focus-visible {
  text-decoration: none;
  width: 100%;
  display: inline-block;
  height: 100%;
  /* background: transparent !important; */
  padding: 0.5rem;
  cursor: inherit;
  pointer-events: none;
}

.submitFormBtn[data-active="active"],
.submitFormBtn:hover[data-active="active"],
.submitFormBtn:focus[data-active="active"],
.submitFormBtn:focus-visible[data-active="active"] {
  pointer-events: auto;
  cursor: pointer;
}


/* div.radioContainer::after {
  content: "cheeks";
  position: absolute;
  width: 5rem;
  height: 5rem;
  top: -1.8rem;
  left: -5rem;
  background: #fff;
  border-radius: 50%;
  border: 2px solid #363873;
  color: #363873;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
} */
.spinner {
  animation: spinner 1.5s linear infinite;
  -webkit-animation: spinner 1.5s linear infinite;
}

.result_comp_style {
  box-shadow: 0 2px 20px rgb(0 0 0 / 10%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  padding: 1rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.gridContainer {
  display: grid;
  grid-gap: 1.5rem;
}

.chartContainer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  animation: chartReveal 3s ease;
  -webkit-animation: chartReveal 3s ease;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
}

.chartContainer .percent {
  position: absolute;
  width: 8rem;
  box-shadow: 0 0 17px 6px #e6e6e6;
  top: 17%;
  left: 56%;
  font-weight: 700;
  font-size: 1.5rem;
}

.chartContainer .less {
  position: absolute;
  width: 9rem;
  box-shadow: 0 0 17px 6px #e6e6e6;
  top: 57%;
  left: 68%;
  font-weight: 700;
  font-size: 1.5rem;
}

.chartContainer .point {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  top: 19%;
  right: 7%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.chartContainer .point::after {
  content: "";
  width: 150%;
  height: 150%;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  top: -25%;
  right: -25%;
  -webkit-border-radius: 50%;
  border: 4px solid #363873;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.secondLineResult {
  grid-template-columns: 2fr 1fr;
}

.forthLinResult {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "info percent""info expectChange";
}

.expectedChangesContainer {
  grid-template-columns: 1fr 1fr;
  /* align-items: center; */
}

.expectedChangesContainer ul {
  border-right: 2px solid #363873
}

.expectedChangesContainer li {
  list-style-type: none;
}


.halfCircleContainer {
  overflow: hidden;
  margin: 1rem 0;
}

.halfCircle {
  width: 30rem;
  height: 15rem;
  border: 1rem solid #e7ddff;
  border-top-left-radius: 15rem;
  border-top-right-radius: 15rem;
  border-bottom: 0;
  position: relative
}

.halfCircle::after {
  content: "";
  position: absolute;
  top: -1rem;
  left: -1rem;
  width: 30rem;
  height: 15rem;
  border: 1rem solid #363873;
  border-top-left-radius: 15rem;
  border-top-right-radius: 15rem;
  border-bottom: 0;
  transform-origin: center bottom;
  animation: skinMatchAnimation 1.5s linear infinite;
  -webkit-animation: skinMatchAnimation 1.5s linear infinite;
}


summary:active,
summary:focus,
summary:focus-visible {
  outline: none;
}

/* keyframes */


@keyframes imageScanHorizontalAnimation {
  0% {
    top: -11%;
    opacity: 0;
  }

  50% {
    top: 98%;
    opacity: 1;
  }

  0% {
    top: -11%;
    opacity: 0;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -webkit-transform: ;
    -moz-transform: ;
    -ms-transform: ;
    -o-transform: ;
  }
}

@keyframes skinMatchAnimation {
  0% {
    transform: rotateZ(15deg);
    -webkit-transform: rotateZ(15deg);
    -moz-transform: rotateZ(15deg);
    -ms-transform: rotateZ(15deg);
    -o-transform: rotateZ(15deg);
  }

  50% {
    transform: rotateZ(20deg);
    -webkit-transform: rotateZ(20deg);
    -moz-transform: rotateZ(20deg);
    -ms-transform: rotateZ(20deg);
    -o-transform: rotateZ(20deg);
  }

  100% {
    transform: rotateZ(15deg);
    -webkit-transform: rotateZ(15deg);
    -moz-transform: rotateZ(15deg);
    -ms-transform: rotateZ(15deg);
    -o-transform: rotateZ(15deg);
  }
}

@keyframes chartReveal {

  0% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }

}


/* Media Queries */

@media (max-width : 768px) {

  .gridContainer {
    grid-gap: 0;
  }

  .graph,
  .secondLineResult,
  .forthLinResult,
  .expectedChangesContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .chartContainer .percent {
    width: 4rem;
    top: 17%;
    left: 50%;
    font-size: 0.75rem;
  }

  .chartContainer .less {
    width: 5rem;
    top: 55%;
    left: 64%;
    font-size: 0.75rem;
  }

  .chartContainer .point {
    width: 1rem;
    height: 1rem;
  }


  .forthLinResult {
    grid-template-areas: "percent""info"" expectChange";
  }

  .halfCircle {
    width: 10rem;
    height: 5rem;
    border: 0.5rem solid #e7ddff;
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
    border-bottom: 0
  }

  .halfCircle::after {
    top: -0.5rem;
    left: -0.5rem;
    width: 10rem;
    height: 5rem;
    border: 0.5rem solid #363873;
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
    border-bottom: 0
  }

  .expectedChangesContainer ul {
    border: none
  }

}